#include <winver.h>
1 24 "app.manifest"

VS_VERSION_INFO VERSIONINFO
FILEVERSION     1,0,1,0
PRODUCTVERSION  1,0,1,0
FILEOS          VOS_NT_WINDOWS32
FILETYPE        VFT_APP
BEGIN
  BLOCK "StringFileInfo"
  BEGIN
    BLOCK "040904B0"
    BEGIN
      VALUE "FileDescription", "CapsSwitch - CapsLock switches keyboard layout"
      VALUE "ProductName",     "CapsSwitch"
      VALUE "FileVersion",     "1.0.1"
      VALUE "ProductVersion",  "1.0.1"
      VALUE "OriginalFilename","CapsSwitch.exe"
      VALUE "LegalCopyright",  "MIT License"
    END
  END
  BLOCK "VarFileInfo"
  BEGIN
    VALUE "Translation", 0x409, 1200
  END
END
